{% extends 'base.html.twig' %}

{% block title %}
    Books Page
{% endblock %}

{% block body %}

    <a href="{{ path('add_book') }}" class"btn btn-success">Add Book</a>

    {% for book in books %}
        <li> {{book}} </li>
    {% endfor %}
{% endblock %}
